In [1]:
import pandas as pd
import numpy as np
import glob
import datetime
#import geopandas as gp

In [2]:
foreign_aid = pd.read_csv("../data/us_foreign_aid_complete.csv")

C:\Users\Erin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9,43,44,45,48,49,53) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
foreign_aid.head()

,Country ID,Country Code,Country Name,Region ID,Region Name,Income Group ID,Income Group Name,Income Group Acronym,Managing Agency ID,Managing Agency Acronym,...,Activity Start Date,Activity End Date,Transaction Type ID,Transaction Type Name,Fiscal Year,Transaction Date,Current Dollar Amount,Constant Dollar Amount,year,Operating Unit
0,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,2,Obligations,2011,NaN,9941000000,11391531078,2011.0,NaN
1,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,2,Obligations,2012,NaN,9243000000,10394677800,2012.0,NaN
2,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,3,Disbursements,2011,NaN,7840175215,8984166544,2011.0,NaN
3,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,3,Disbursements,2013,NaN,7764310985,8573982850,2013.0,NaN
4,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,2,Obligations,2013,NaN,6928000000,7650460330,2013.0,NaN

In [4]:
foreign_aid.shape

(2950513, 54)

In [5]:
print(foreign_aid.columns.tolist())

['Country ID', 'Country Code', 'Country Name', 'Region ID', 'Region Name', 'Income Group ID', 'Income Group Name', 'Income Group Acronym', 'Managing Agency ID', 'Managing Agency Acronym', 'Managing Agency Name', 'Managing Sub-agency or Bureau ID', 'Managing Sub-agency or Bureau Acronym', 'Managing Sub-agency or Bureau Name', 'Implementing Partner Category ID', 'Implementing Partner Category Name', 'Implementing Partner Sub-category ID', 'Implementing Partner Sub-category Name', 'Implementing Partner ID', 'Implementing Partner Name', 'International Category ID', 'International Category Name', 'International Sector Code', 'International Sector Name', 'International Purpose Code', 'International Purpose Name', 'US Category ID', 'US Category Name', 'US Sector ID', 'US Sector Name', 'Funding Acount ID', 'Funding Account Name', 'Funding Agency ID', 'Funding Agency Name', 'Funding Agency Acronym', 'Foreign Assistance Objective ID', 'Foreign Assistance Objective Name', 'Aid Type Group ID', 'Aid Type Group Name', 'Activity ID', 'Submission ID', 'Activity Name', 'Activity Description', 'Activity Project Number', 'Activity Start Date', 'Activity End Date', 'Transaction Type ID', 'Transaction Type Name', 'Fiscal Year', 'Transaction Date', 'Current Dollar Amount', 'Constant Dollar Amount', 'year', 'Operating Unit']

In [6]:
foreign_aid = foreign_aid.rename(columns={
#'Country ID',
'Country Code': 'country_code',
#'Country Name',
#'Region ID',
#'Region Name',
#'Income Group ID',
#'Income Group Name',
#'Income Group Acronym',
#'Managing Agency ID',
'Managing Agency Acronym': 'managing_agency_acr',
'Managing Agency Name': 'managing_agency',
#'Managing Sub-agency or Bureau ID',
'Managing Sub-agency or Bureau Acronym': 'managing_subagency_acr',
'Managing Sub-agency or Bureau Name': 'managing_subagency',
#'Implementing Partner Category ID',
'Implementing Partner Category Name': 'imp_partner_cat',
#'Implementing Partner Sub-category ID',
'Implementing Partner Sub-category Name': 'imp_partner_subcat',
#'Implementing Partner ID',
'Implementing Partner Name': 'imp_partner',
#'International Category ID',
'International Category Name': 'int_category',
#'International Sector Code',
'International Sector Name': 'int_sector',
#'International Purpose Code',
'International Purpose Name': 'int_purpose',
#'US Category ID',
'US Category Name': 'us_category',
#'US Sector ID',
'US Sector Name': 'us_sector',
#'Funding Acount ID',
'Funding Account Name': 'funding_account',
#'Funding Agency ID',
'Funding Agency Name': 'funding_agency',
'Funding Agency Acronym': 'funding_agency_acr',
#'Foreign Assistance Objective ID',
'Foreign Assistance Objective Name': 'objective',
#'Aid Type Group ID',
'Aid Type Group Name': 'aid_type',
#'Activity ID',
#'Submission ID',
'Activity Name': 'activity',
'Activity Description':'description',
'Activity Project Number':'project_num',
'Activity Start Date':'start_date',
'Activity End Date':'end_date',
#'Transaction Type ID',
'Transaction Type Name':'trans_type',
'Fiscal Year':'fiscal_yr',
'Transaction Date':'trans_date',
'Current Dollar Amount':'current_dollar_amount',
'Constant Dollar Amount':'constant_dollar_amount',
'year':'year',
'Operating Unit':'operating_unit'})

In [7]:
print(foreign_aid.columns.tolist())

['Country ID', 'country_code', 'Country Name', 'Region ID', 'Region Name', 'Income Group ID', 'Income Group Name', 'Income Group Acronym', 'Managing Agency ID', 'managing_agency_acr', 'managing_agency', 'Managing Sub-agency or Bureau ID', 'managing_subagency_acr', 'managing_subagency', 'Implementing Partner Category ID', 'imp_partner_cat', 'Implementing Partner Sub-category ID', 'imp_partner_subcat', 'Implementing Partner ID', 'imp_partner', 'International Category ID', 'int_category', 'International Sector Code', 'int_sector', 'International Purpose Code', 'int_purpose', 'US Category ID', 'us_category', 'US Sector ID', 'us_sector', 'Funding Acount ID', 'funding_account', 'Funding Agency ID', 'funding_agency', 'funding_agency_acr', 'Foreign Assistance Objective ID', 'objective', 'Aid Type Group ID', 'aid_type', 'Activity ID', 'Submission ID', 'activity', 'description', 'project_num', 'start_date', 'end_date', 'Transaction Type ID', 'trans_type', 'fiscal_yr', 'trans_date', 'current_dollar_amount', 'constant_dollar_amount', 'year', 'operating_unit']

In [9]:
mexico = foreign_aid.loc[foreign_aid["country_code"].isin(['MEX'])]
mexico

,Country ID,country_code,Country Name,Region ID,Region Name,Income Group ID,Income Group Name,Income Group Acronym,Managing Agency ID,managing_agency_acr,...,start_date,end_date,Transaction Type ID,trans_type,fiscal_yr,trans_date,current_dollar_amount,constant_dollar_amount,year,operating_unit
458,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,2,STATE,...,NaN,NaN,2,Obligations,2010,NaN,535151684,625474521,2010.0,NaN
526,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,2,STATE,...,NaN,NaN,2,Obligations,2015,NaN,455185015,487524827,2015.0,NaN
768,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,2,STATE,...,NaN,NaN,2,Obligations,2014,NaN,301159001,326284598,2014.0,NaN
831,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,2,STATE,...,NaN,NaN,3,Disbursements,2011,NaN,295191410,338263970,2011.0,NaN
967,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,2,STATE,...,NaN,NaN,2,Obligations,2011,NaN,253166913,290107510,2011.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2950484,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,98,NaN,...,NaN,NaN,18,President's Budget Requests,2015,NaN,3225,3454,2015.0,NaN
2950485,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,98,NaN,...,NaN,NaN,1,Appropriated and Planned,2016,NaN,3063,3252,2016.0,NaN
2950486,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,98,NaN,...,NaN,NaN,1,Appropriated and Planned,2017,NaN,3057,3189,2017.0,NaN
2950487,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,98,NaN,...,NaN,NaN,1,Appropriated and Planned,2006,NaN,3000,3751,2006.0,Mexico
2950493,484,MEX,Mexico,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,98,NaN,...,NaN,NaN,1,Appropriated and Planned,2015,NaN,2978,3190,2015.0,NaN

In [14]:
mexico = mexico[[
'country_code',
#'managing_agency_acr',
'managing_agency',
#'managing_subagency_acr',
'managing_subagency',
'imp_partner_cat',
'imp_partner_subcat',
'imp_partner',
'int_category',
'int_sector',
'int_purpose',
'us_category',
'us_sector',
'funding_account',
'funding_agency',
#'funding_agency_acr',
'objective',
'aid_type',
'activity',
'description',
'project_num',
'start_date',
'end_date',
'trans_type',
'fiscal_yr',
'trans_date',
'current_dollar_amount',
'constant_dollar_amount',
'year',
'operating_unit']]
mexico.head()

,country_code,managing_agency,managing_subagency,imp_partner_cat,imp_partner_subcat,imp_partner,int_category,int_sector,int_purpose,us_category,...,project_num,start_date,end_date,trans_type,fiscal_yr,trans_date,current_dollar_amount,constant_dollar_amount,year,operating_unit
458,MEX,Department of State,International Narcotics and Law Enforcement Af...,Government,Government - United States,U.S. Government - Department of State,Governance,Government and Civil Society,Legal and judicial development,"Democracy, Human Rights, and Governance",...,NaN,NaN,NaN,Obligations,2010,NaN,535151684,625474521,2010.0,NaN
526,MEX,Department of State,International Narcotics and Law Enforcement Af...,Government,Government - United States,U.S. Government - Department of State,Governance,Government and Civil Society,Legal and judicial development,"Democracy, Human Rights, and Governance",...,NaN,NaN,NaN,Obligations,2015,NaN,455185015,487524827,2015.0,NaN
768,MEX,Department of State,International Narcotics and Law Enforcement Af...,Government,Government - United States,U.S. Government - Department of State,Governance,Government and Civil Society,Legal and judicial development,"Democracy, Human Rights, and Governance",...,NaN,NaN,NaN,Obligations,2014,NaN,301159001,326284598,2014.0,NaN
831,MEX,Department of State,International Narcotics and Law Enforcement Af...,Government,Government - United States,U.S. Government - Department of State,Governance,Government and Civil Society,Legal and judicial development,"Democracy, Human Rights, and Governance",...,NaN,NaN,NaN,Disbursements,2011,NaN,295191410,338263970,2011.0,NaN
967,MEX,Department of State,International Narcotics and Law Enforcement Af...,Government,Government - United States,U.S. Government - Department of State,Governance,Government and Civil Society,Legal and judicial development,"Democracy, Human Rights, and Governance",...,NaN,NaN,NaN,Obligations,2011,NaN,253166913,290107510,2011.0,NaN

In [15]:
mexico = mexico.dropna(axis=1,how='all')

In [17]:
mexico.dtypes

country_code               object
managing_agency            object
managing_subagency         object
imp_partner_cat            object
imp_partner_subcat         object
imp_partner                object
int_category               object
int_sector                 object
int_purpose                object
us_category                object
us_sector                  object
funding_account            object
funding_agency             object
objective                  object
aid_type                   object
activity                   object
description                object
project_num                object
start_date                 object
end_date                   object
trans_type                 object
fiscal_yr                  object
trans_date                 object
current_dollar_amount       int64
constant_dollar_amount      int64
year                      float64
operating_unit             object
dtype: object